<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Angular App Demo</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="angular.min.js"></script>
</head>
<body ng-app>
<input type="text" ng-model="mystyle" placeholder="Type Class Name">
	<input type="text" ng-init="price=0" ng-model="price">
	<h1>Price is {{price}}</h1>
	<br>
	<input type="text" ng-model="qt" ng-init="qt=0">
	<h1>Qt is {{qt}}</h1>
	<br>
	<h1>Amount is {{price*qt}}</h1>
	<button class="{{mystyle}}">Hello User</button>
	<input type="checkbox" ng-init="showhide=false" ng-model="showhide">Show/Hide
	Check Box is {{showhide}}
	<div ng-show="showhide">
		<h1>Show Me</h1>
	</div>	

	
</body>
</html>